*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dragArea, .dropArea{
padding: 50px;
border: 1px solid #bebebe;
display: flex;
justify-content: space-around;
}
.dragArea .number{
    width: 15%;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
    color: rgb(48, 48, 48);
    text-align: center;
    border:1px solid #888;
    cursor: move;
}
